<%= render partial: "layouts/errors", locals: {object: @user} %>

<%= flash[:alert] %>


<h2>Login to your Account</h2><br>


<%= form_with(url: '/login') do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Log In" %>
  <% end %>

  <br><br><br>

  <%= link_to 'Sign Up', '/signup' %> to get started </h4>