<%= flash[:message] %>

<h1> Welcome, <%= @user.username %>!</h1><br>

<h2> Time To Make The Donuts!</h2>

<p>All the Donuts Already Created! YUMMMM! -> <%= link_to "Click here to see the donuts!", donuts_path %> </p>

<p>I wanna talk about my great experience! -> <%= link_to "Click here to create a new donut to review!", new_donut_path %> </p>

<h2> Your Donuts</h2>

    <% if @user.donuts.empty? %>

        <p>You have not created any donuts yourself! -> <%= link_to "Click here to create your first donut!", new_donut_path %> </p>

    <% else %>

        <% @user.donuts.each do |d| %>

        <div>        
            <%= link_to(d.name, donut_path(d)) %>
        <div>
            
        <% end %>

        </div>

    <% end %>

    <h3> Your Reviews</h3>

    <% if @user.reviews.empty? %>

        <p>You have not created any reviews yourself! -> <%= link_to "Click here to see the all the donuts made and review!", donuts_path %> </p>

    <% else %>

        <% @user.reviews.each do |r| %>

        <div>    
            <%= "#{r.donut.name} - " %><%= link_to(r.description, review_path(r))%>
        <div>
            
        <% end %>

        </div>

    <% end %>

    <br><%= link_to("All Reviews Made By Me!", user_reviews_path(@user))%>