<h1> <%= @donut.name %> </h1>

<p>Color: <%= @donut.color %></p>

<p>Location Purchased: <%= @donut.location %></p>

__________________________________________________

<h3>Tell Us What You Loved About <%= @donut.name %>!</h3><br>

<p> Review This Donut! <%= link_to("What I Loved About This Donut.....", new_donut_review_path(@donut)) %></p>

<br><% if @donut.user == current_user %><br>
<p> Oops! Gotta Fix Something <%= link_to("edit donut", edit_donut_path(@donut)) %></p>

<p> Let Me Start Over <%= link_to('delete donut', @donut, method: 'delete') %></p>

<% end %>

__________________________________________________________________

<h4>What People Have Said About This Donut!</h4>

    <% if @donut.reviews.empty? %>

        <p>No one has reviewed <%= @donut.name %>! Be the first! <%= link_to("Now let me tell you....", new_donut_review_path(@donut)) %></p>

    <% else %>

        <% @donut.reviews.each do |e| %>

        <div><br>        
            <%= "#{e.user.username} said '#{e.description}'" %>
        <div>    
            
        <% end %>

        </div>

    <% end %>

    

    <br><%= link_to("All Reviews Made For This Donut", donut_reviews_path(@donut))%>