<h1> <%= @donut.name %> </h1>

<p>Color: <%= @donut.color %></p>

<p>Location Purchased: <%= @donut.location %></p>

<h3>Tell Us What You Loved About <%= @donut.name %>!</h3><br>

<p> Review This Donut! <%= link_to("What I Loved About This Donut.....", new_donut_review_path(@donut)) %></p>

<% byebug %>
<br><% if @donut.user == current_user %><br>
<p> Oops! Gotta Fix Something <%= link_to("edit donut", edit_donut_path(@donut)) %></p>

<p> Let Me Start Over <%= link_to('delete donut', @donut, method: 'delete') %></p>

<% end %>

#what people said