<h1>All Reviews For "

    <% if @user %>
        <%= link_to(@user.username, user_path(@user)) %>" </h1><br>
    <% else @donut %> 
        <%= link_to(@donut.name, donut_path(@donut)) %>" </h1><br>
    <% end %>

    <% if @donut %>
        <% if @donut.reviews.empty? %>

            <p> No one has reviewed <%= @donut.name %>! Be the first! </p>

        <% else %>                
            <% @donut.reviews.each do |donut| %>
                <div>
                    <h4><%= "#{donut.user.username} said #{donut.description}" %></h4> 
                <div>            
            <% end %>

            <p><%= link_to("Review This Donut", new_donut_review_path(@donut)) %></p>
        <% end %>

    <% end %>

    <% if @user %>
        <% if @user.reviews.empty? %>

            <p> You have no reviews! <%= link_to "Click here to see the donuts already made!", donuts_path %> </p> </p>

            <%= link_to "Click here to create a new donut to review!", new_donut_path %> </p>

        <% else %>     
            
            <% @user.reviews.each do |r| %>
                <div>    
                    <%= "About #{r.donut.name} you said " %><%= link_to(r.description, review_path(r))%>
                <div>            
            <% end %>
        
        <% end %>
    <% end %>