<h1>Add a New Review</h1>

<%= render partial: 'layouts/errors', locals: {object: @review} %>


  <h3>Now Tell Us What You Loved About It!</h3>
   
  <%= form_with model: @review, local: true do |r| %>
  <br>

  <%= r.label :description %>
  <%= r.text_field :description %><br>
  
<% end %>

  <%= f.submit %>

  <% end %>

