<h1>Add a New Review</h1>

<%= render partial: 'layouts/errors', locals: {object: @review} %>


  <h3>Now Tell Us What You Loved About It!</h3>
   
  <%= form_for([@donut, @review]) do |r| %>
  <br>

  <%= r.label :description %>
  <%= r.text_field :description %><br><br>

  <%= r.submit %>

  <% end %>

